.darkveil-canvas {
  position: fixed; /* was probably absolute */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* push it behind everything */
  display: block;
  object-fit: cover;
}

.App
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  

}